body {
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: white;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 5px;
    border: 5px solid black;
    padding: 5px;
    background: black;
  }
  
  .cell {
    background: white;
    border: 2px solid black;
  }
  
  .yellow {
    background-color: #f2cb05;
  }
  
  .red {
    background-color: #c0291a;
  }
  
  .blue {
    background-color: #223c7b;
  }
  